/* MESSAGES AND ERRORS */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 5px 0 25px 0;
    padding: 2px 2px 2px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

.ui-field-contain label{
    font-weight:bold;
}

.show-data{
    border: 1px solid #c3c3c3;
    width:100%;
    margin:5px;
    border-collapse: collapse;
}

.show-data td{
    padding: 10px;
}

.show-data .td-label{
    font-weight:bold;
    text-decoration: underline;
    width:10%;
    white-space: nowrap;

}

.list-label{
    margin:5px;
    padding:5px;
    font-weight:bold;
}

.property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

 .property-value {
    margin-left: 5%;
}