<%@ page import="co.micromacro.nfctrack.UserRole" %>




<div class="fieldcontain ${hasErrors(bean: userRoleInstance, field: 'city', 'error')} ">
	<label for="city">
		<g:message code="userRole.role.label" default="角色" />
		<span class="required-indicator">*</span>
	</label>
	<g:select id="user" name="user.id" from="${co.micromacro.nfctrack.User.list()}" optionKey="id" required="" value="${userRoleInstance?.user?.id}" />
</div>


<div class="fieldcontain ${hasErrors(bean: userRoleInstance, field: 'city', 'error')} ">
	<label for="city">
		<g:message code="target.city.label" default="角色" />
		<span class="required-indicator">*</span>
	</label>
	<g:select id="role" name="role.id" from="${co.micromacro.nfctrack.Role.list()}" optionKey="id" required="" value="${userRoleInstance?.role?.id}" />
</div>